<!-- Uncomment whatever you need and rename to `.env` -->

<!-- METRICS_API_URL=http://localhost:3002/graphql -->
HERMES_API_URL=https://hermes-api-1.herokuapp.com
<!-- HERMES_API_CLIENT_ID=hermes-test-customer-1 -->
<!-- HERMES_API_KEY=sk_test.some_secret_key -->
