.searchContainer {
  display: flex;
  width: 100%;
  min-width: 400px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.searchContainer input {
  flex-grow: 2;
  overflow: hidden;
  max-width: none;
}

.button {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #0070f3;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  background-color: #fff;
}

.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
}
